.accordion {
  display: flex;
  flex-direction: column;
}

.accordionSummary {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.accordionDetails {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.statusDetails {
  width: 100px;
}

.textDetails {
  flex: 1;
}

.statusText {
  font-weight: bold;
}

.statusText_RUNNING {
  color: goldenrod;
}

.statusText_PASSED {
  color: green;
}

.statusText_FAILED {
  color: maroon;
}

.detailsTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  font-weight: normal;
}

.list {
  list-style: decimal;
  padding: 0px;
  margin-left: 20px;
}

.listItem {
  display: list-item;
  padding: 0px;
}

.failedStep {
  font-weight: bold;
  color: maroon;
}
